.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    justify-content: space-between;
}

.background {
    background-color: var(--background-light);
}

.content {
    overflow-x: hidden;
    min-width: 0;
}

/* medida md de bootstrap */
@media (min-width: 768px) {
    .content {
        margin-left: 250px;
    }
}

.card-holder {
    width: 100%;
}

.nav-button {
    padding: 10px;
    display: flex;
    align-items: center;
}

.email-text{
    max-width: 135px;
    overflow: hidden;
    text-overflow: ellipsis;
}