@use '../../styles/variables' as *;

.title{
    color: $text-light;
}


.sidebar {
    background: $surface-dark;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    justify-content: space-between;
}

.background {
    background-color: $surface;
}

.content {
    overflow-x: hidden;
    min-width: 0;
    background: $surface;

    @media (min-width: 768px) {
        margin-left: 250px;
    }

    // El contenido de dentro
    >div {
        background: $surface-2;
    }
}
/* medida md de bootstrap */

.card-holder {
    width: 100%;
}

.nav-button {
    padding: 10px;
    display: flex;
    align-items: center;
}

.email-text{
    max-width: 135px;
    overflow: hidden;
    text-overflow: ellipsis;
}