.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    justify-content: space-between;
}

.background{
    background-color: var(--background-light);
}

/* medida md de bootstrap */
@media (min-width: 768px) {
    .content {
        margin-left: 250px;
    }
}

.card-holder{
    width: 100%;
}