<section>
    <h1>Crear nuevo usuario</h1>
    <h5 class="text-secondary">Interfaz para crear un usuario en la base de datos</h5>
    <div class="w-100 p-3">
        <form class="row">
            <div class="col-lg-6 col-12">
                <h5 class="text-secondary w-fit">Datos de la persona</h5>
                <div class="form-group row">
                    <div class="mt-lg-0 mt-2 col-12 col-lg-8">
                        <label class="w-100">Nombre y apellidos</label>
                        <div>
                            <div class="row g-2">
                                <input [(ngModel)]="nombre" name="usuario" class="form-control" type="text"
                                    placeholder="Nombre">
                                <input [(ngModel)]="apellido1" name="usuario" class="form-control" type="text"
                                    placeholder="Apellido 1">
                                <input [(ngModel)]="apellido2" name="usuario" class="form-control" type="text"
                                    placeholder="Apellido 2">
                            </div>
                        </div>
                    </div>
                    <div class="d-block mt-lg-0 mt-2 col-12 col-lg-4" (click)="fileInput.click()">
                        <label class="w-100 text-center">Foto de Perfil</label>
                        <figure class="user-pfp user-pfp--edit mt-2 mx-auto">
                            <img src="{{avatar_path}}" alt="">
                            <span class="edit-icon">
                                <svg viewBox="0 0 24 24" fill="currentColor">
                                    <path
                                        d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32L19.513 8.2Z" />
                                </svg>
                            </span>
                        </figure>
                    <input #fileInput class="d-none" type="file" accept="image/*" (change)="onArchivoSeleccionado($event)">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-lg-6">
                        <label>Contraseña</label>
                        <input [(ngModel)]="password" name="password" class="form-control" type="password"
                            placeholder="contraseña">
                    </div>
                    <div class="form-group col-12 col-lg-6">
                        <label>Confirmar contraseña</label>
                        <input [(ngModel)]="password2" name="password" class="form-control" type="password"
                            placeholder="contraseña">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-lg-6">
                        <label>Teléfono</label>
                        <input [(ngModel)]="tel" name="tel" class="form-control" type="tel"
                            placeholder="+34 600 000 000">
                    </div>
                    <div class="form-group col-12 col-lg-6">
                        <label>Correo</label>
                        <input [(ngModel)]="mail" name="mail" class="form-control" type="email"
                            placeholder="ejemplo@compañia.com">
                    </div>
                </div>

            </div>
            <section class="vr col-lg-1 mx-4 d-lg-block d-none p-0"></section>
            <hr class="d-lg-none d-block my-4">
            <div class="col-lg-5 col-12">
                <h5 class="text-secondary">Informacion de trabajo</h5>
                <div class="form-group">
                    <label>Rol del usuario</label>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button"
                            data-bs-toggle="dropdown">{{chosenRol.display}}</button>
                        <div class="dropdown-menu">
                            @for (rol of roles; track rol){
                            <button class="dropdown-item" (click)="setRol(rol[0], rol[1])">{{rol[1]}}</button>
                            }
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Carnet de conducir</label>
                    <div class="card w-fit">
                        <div class="card-body d-flex flex-wrap gap-4">
                            @for (letra of carnetLetras; track letra) {
                            <div class=" form-check form-switch">
                                <input class="form-check-input" type="checkbox" [checked]="chosenCarnet[letra]"
                                    (change)="setCarnet(letra)" />
                                <kbd class="form-check-label">{{ letra }}</kbd>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </form>
        @if(errorMsg()){
        <p class="text-danger font-weight-bold">{{errorMsg()}}</p>
        }
        @if(success()){
        <p class="text-success font-weight-bold">{{success()}}</p>
        }
        <div class="mt-2 d-flex gap-3">
            <button type="button" class="btn btn-primary" (click)="createNewUser()">Crear usuario</button>
            <button type="button" class="btn btn-outline-secondary" routerLink="/admin/usuarios">Cancelar</button>
        </div>
    </div>


    <!-- MODAL IMAGEN -->
    @if (modalimagen())
    {
    <div class="modal d-block modal-overlay">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content modal-custom">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmar avatar de usuario</h5>
                    <button type="button" class=" btn-close" (click)="cerrarModalImagen()"></button>
                </div>
                <div class="modal-body text-center">
                    @if(imagenPreview()) {
                    <figure class="user-pfp user-pfp--square w-25 mx-auto">
                        <img [src]="imagenPreview()" alt="Preview">
                    </figure>
                    }
                    <p class="mt-3 text-muted">¿Quieres usar esta imagen como foto de perfil?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="confirmarImagen()">Confirmar</button>
                    <button type="button" class="btn btn-outline-secondary" (click)="cerrarModalImagen()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    }
</section>