<section class="header">
    <div class="navHeader" style="justify-content: end;">
        @if (isLoggedIn()){
        <p class="username">{{getUsername()}}</p>
        <button class="miniBoton" (click)="logout()">Cerrar sesión</button>
        }
        @else {
        <a class="miniBoton" routerLink="/login">Iniciar sesión</a>
        <a class="miniBoton" routerLink="/createUser">Crear usuario</a>
        }
    </div>
    <div class="navHeader">
        <a class="pagTitulo" routerLinkActive="pagTituloSel" 
            [routerLinkActiveOptions]="{ exact: true }" routerLink="/home">Libreria</a>
        <a class="pagTitulo" routerLinkActive="pagTituloSel" routerLink="/about">Acerca de</a>

        @if (isAdmin()){
        <a class="pagTitulo" routerLinkActive="pagTituloSel" routerLink="/admin">Administrador</a>
        }
    </div>

</section>

<section class="main">
    <router-outlet></router-outlet>
</section>

<section class="divider footer">
    <div class="navFooter">
        <p>Gabriel Méndez Alonso</p>
        <p>Esta aplicacion simula una biblioteca de juegos</p>
    </div>
    <div class="navFooter">
        <p>2º DAM -- Mañana</p>
    </div>
</section>
