<section class="header container-fluid">
    <div class="navHeader" style="justify-content: end;">
        @if (isLoggedIn()){
        <p >{{getUsername()}}</p>
        <button (click)="logout()">Cerrar sesión</button>
        }
        @else {
        <button class="btn btn-primary" routerLink="/login">Iniciar sesión</button>
        <button class="btn btn-primary" routerLink="/createUser">Crear usuario</button>
        }
    </div>
    <ul class="list-inline navPrincipal" >
        <li class="list-inline-item">
            <h1><a  routerLinkActive="pagTituloSel" [routerLinkActiveOptions]="{ exact: true }" routerLink="/home">Libreria</a></h1>
        </li>
        <li class="list-inline-item">
            <h1><a routerLinkActive="pagTituloSel" routerLink="/about">Acerca de</a></h1>
        </li>

        @if (isAdmin()){
        <li class="list-inline-item">
            <h1><a routerLinkActive="pagTituloSel" routerLink="/admin">Administrador</a></h1>
        </li>
        }
    </ul>

</section>

<section class="main">
    <router-outlet></router-outlet>
</section>

<section class="divider footer">
    <div class="navFooter">
        <p>Gabriel Méndez Alonso</p>
        <p>Esta aplicacion simula una biblioteca de juegos</p>
    </div>
    <div class="navFooter">
        <p>2º DAM -- Mañana</p>
    </div>
</section>
